APP_NAME="SIMA CIC"
APP_ENV=production
APP_KEY=base64:GANTI_DENGAN_KEY_BARU_php_artisan_key_generate
APP_DEBUG=false
APP_URL=https://api-sima.ciwangunparkland.id

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=NAMA_DATABASE_DI_HOSTINGER
DB_USERNAME=USERNAME_DATABASE_HOSTINGER
DB_PASSWORD=PASSWORD_DATABASE_HOSTINGER

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.ciwangunparkland.id

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@ciwangunparkland.id"
MAIL_FROM_NAME="${APP_NAME}"
